%button {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-color: aqua;
  border-style: none;
  padding: 10px 5px;
  width: 200px;
  height: 30px;
  margin: 10px 0px 3px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    margin-left: 10px;
  }
}
