%button {
  font-size: 13px;
  text-transform: uppercase;
  background-color: #28292e;
  border-style: none;
  padding: 20px 5px;
  width: 400px;
  height: 30px;
  margin: 10px 0px 3px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: white;
  i {
    margin-left: 10px;
  }
  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
  }
}
