@import "reset.scss";
@import "_variables.scss";
@import "_button.scss";

* {
  box-sizing: border-box;
}

body > *:not(header) {
  padding: 20px;
}

header {
  padding: 20px;
  background-color: green;
  .title {
    font-size: 25px;
    font-weight: 600;
  }
}

main {
  display: flex;
  section {
    display: flex;
    flex-direction: column;
  }
  #first_column {
    width: 15%;
    .poster {
      img {
        width: 200px;
        height: 300px;
      }
    }
    button {
      @extend %button;
    }
  }
  #second_column {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .movie_title {
      padding: 10px;
      font-size: 25px;
      border-bottom: 1px solid black;
    }
    .movie_info {
      display: flex;
      padding: 10px;
      font-size: 15px;
      border-bottom: 1px solid black;
      .ratings,
      .running_time {
        margin-right: 20px;
      }
    }
    .movie_description {
      padding: 10px;
      margin-top: 30px;
      p {
        line-height: normal;
      }
    }
  }
  #third_column {
    width: 25%;
    .movie_scenes {
      display: grid;
      grid-template:
        "one one one " 1fr
        "two two three " 1fr
        "four five five " 1fr
        "six six six " 1fr/ 1fr 1fr 1fr;
      .movie_scenes_item {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .movie_scenes_item :first-child {
        grid-area: one;
      }
      .movie_scenes_item:nth-child(2) {
        grid-area: two;
      }
      .movie_scenes_item:nth-child(3) {
        grid-area: three;
      }
      .movie_scenes_item:nth-child(4) {
        grid-area: four;
      }
      .movie_scenes_item:nth-child(5) {
        grid-area: five;
      }
      .movie_scenes_item:last-child {
        grid-area: six;
      }
    }
  }
}

footer {
  .recommend {
    span {
      font-weight: 600;
      font-size: 20px;
    }
    .recommend_list {
      display: flex;
      padding-top: 30px;
      .recommend_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
        img {
          width: 140px;
          height: 200px;
        }
        .recommend_item_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 10px 0px;
          span {
            font-size: 13px;
          }
          .recommend_item_title {
            margin-bottom: 5px;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }
  }
}
