@import "reset.scss";
@import "_variables.scss";
@import "_button.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik+Wet+Paint&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body > *:not(header) {
  padding: 20px;
  background-color: black;
}

body {
  display: grid;
  grid-template-rows: 1fr 10fr 4fr;
}

header {
  padding: 30px 20px 10px 20px;
  background-color: black;
  .title {
    font-size: 30px;
    color: #a03223;
    font-family: "Rubik Wet Paint", cursive;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  section {
    display: flex;
    flex-direction: column;
  }
  #first_column {
    padding: 20px;
    .poster {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      button {
        @extend %button;
      }
    }
    .side_btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 25px;
      .side_btn_item {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        &:hover {
          color: #3398dc;
          transition: 0.3s ease-in-out;
        }
        span {
          font-size: 13px;
          margin-top: 10px;
        }
      }
    }
  }
  #second_column {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .movie_title {
      border-bottom: 2px solid rgba(157, 153, 153, 0.5);
      padding: 15px;
      font-family: "PT Serif", serif;
      font-size: 25px;
      font-weight: 600;
    }
    .movie_info {
      display: flex;
      padding: 20px;
      font-size: 15px;
      border-bottom: 2px solid rgba(157, 153, 153, 0.5);
      .ratings,
      .running_time {
        margin-right: 20px;
      }
    }
    .movie_meta_info {
      display: flex;
      padding: 20px;
      font-size: 15px;
      border-bottom: 2px solid rgba(157, 153, 153, 0.5);
      span {
        padding-right: 20px;
      }
    }
    .movie_description {
      padding: 20px;
      h3 {
        font-family: "PT Serif", serif;
        font-size: 27px;
      }
      p {
        font-size: 15px;
        padding-top: 20px;
        line-height: 150%;
      }
    }
  }
  #third_column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .movie_scenes {
      height: 100%;
      h3 {
        font-family: "PT Serif", serif;
        font-size: 23px;
        color: white;
      }
      .img_grid {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(10, minmax(30px, 150px));
        grid-template-rows: repeat(12, 1fr);
        gap: 3px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .first {
          grid-area: 1/1/4/6;
        }
        .second {
          grid-area: 1/6/4/-1;
        }
        .third {
          grid-area: 4/1/7/4;
        }
        .fourth {
          grid-area: 4/4/7/-1;
        }
        .fifth {
          grid-area: 7/1/-1/5;
        }
        .sixth {
          grid-area: 7/5/10/-1;
        }
        .seventh {
          grid-area: 10/1/-1/6;
        }
        .eighth {
          grid-area: 10/6/-1/-1;
        }
      }
    }
  }
}

footer {
  .recommend {
    color: white;
    span {
      font-weight: 600;
      font-size: 20px;
    }
    .recommend_list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 30px;
      justify-content: space-around;
      .recommend_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 140px;
          height: 200px;
        }
        .recommend_item_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 200px;
          padding: 10px 0px;
          span {
            font-size: 13px;
          }
          .recommend_item_title {
            margin-bottom: 5px;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }
  }
}
